body{
    margin: 0;
}

h6{
    text-align:start;
}

.main{
    height: 95px;
    width:fit-content;
    background-color:hwb(0 0% 100%);
    
 }

ul li{
    list-style: none;
    display:  inline;
    text-align: left;
}
 
img{
    height: 30px;
    width: 30px;
}

.links{
    text-align: left;
}